.background-logo {
  background-image: url("../img/Layer15.png");
  background-size: cover;
  background-position: center;
  height: 1000px;
  .container {
    height: 100%;
  }
  .company-name {
    padding: 10px;
    a {
      text-decoration: none;
      color: #fff;
    }
  }
  .menu a{
    color: #fff !important;
    &:hover {
      color: #fce38a !important;
      border-bottom: 1px solid #fce38a;;
    }
  }
  .main-logo {
    height: 90%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    text-align: center;
    align-content: center;
    position: relative;
    h2 {
      font-size: 5vw;
      color: #fff;
      font-family: 'Kaushan Script', cursive;
    }
    h1 {
      font-size:8vw;
      text-transform: uppercase;
      font-weight: 700;
      color: #fff;
    }
    .border-logo {
      background-color: #fff;
      margin: 10px;
      width: 60px;
      height: 3px;
    }
    button {
      background: none;
      border: 2px solid #fff;
      color: #fff;
    }
  }
}
.logo-info {
  color: #fff;
  position: absolute;
  bottom: 0;
  height: 80px;
  width: 100%;
  .b-info {
    p {
      span {
        font-weight: 700;
      }
      border-top: 2px solid #fff;
      padding: 20px;
      margin-bottom: 100px;
    }
  }
}